Flask==2.0.2

    <div class="input-container">
        <div class="input-field">
            <label for="amux">AMUX</label><br>
            <input type="number" id="amux" name="amux" min="0" max="1" value="0">
        </div>
        <div class="input-field">
            <label for="cond">COND</label><br>
            <input type="number" id="cond" name="cond" min="0" max="3" value="0">
        </div>
        <div class="input-field">
            <label for="alu">ALU</label><br>
            <input type="number" id="alu" name="alu" min="0" max="3" value="0">
        </div>
        <div class="input-field">
            <label for="sh">SH</label><br>
            <input type="number" id="sh" name="sh" min="0" max="3" value="0">
        </div>
        <div class="input-field">
            <label for="mbr">MBR</label><br>
            <input type="number" id="mbr" name="mbr" min="0" max="1" value="0">
        </div>
        <div class="input-field">
            <label for="mar">MAR</label><br>
            <input type="number" id="mar" name="mar" min="0" max="1" value="0">
        </div>
        <div class="input-field">
            <label for="rd">RD</label><br>
            <input type="number" id="rd" name="rd" min="0" max="1" value="0">
        </div>
        <div class="input-field">
            <label for="wr">WR</label><br>
            <input type="number" id="wr" name="wr" min="0" max="1" value="0">
        </div>
        <div class="input-field">
            <label for="enc">ENC</label><br>
            <input type="number" id="enc" name="enc" min="0" max="1" value="0">
        </div>
        <div class="input-field">
            <label for="c">C</label><br>
            <input type="number" id="c" name="c" min="0" max="15" value="0">
        </div>
        <div class="input-field">
            <label for="b">B</label><br>
            <input type="number" id="b" name="b" min="0" max="15" value="0">
        </div>
        <div class="input-field">
            <label for="a">A</label><br>
            <input type="number" id="a" name="a" min="0" max="15" value="0">
        </div>
        <div class="input-field">
            <label for="addr">ADDR</label><br>
            <input type="number" id="addr" name="addr" min="0" max="99" value="0">
        </div>
    </div>